<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Page 2 (left: modal --- right: apiResolve)</h3>
		<!-- <p>{{companyAllInP2Ctrl}}</p> -->
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-2 col-md-2">
				<div ui-view="p2Left"></div>
			</div>
			<div class="col-sm-10 col-md-10 well-padleft-zero">
				<div ui-view="p2Right"></div>
			</div>
		</div>
	</div>
	<button type="button" class="btn btn-success" ui-sref="p1">GO P1</button>
</div>